* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #020024;
  background-image: radial-gradient( circle 490.7px at 3.1% 21.8%,  rgba(82,6,135,1) 0%, rgba(22,1,34,1) 100.3% );
  color: aliceblue;
}
.nav {
  background-color: brown;
  border-radius: 12px;
  margin: 25px auto;
  width: 650px;
  padding: 10px;
  background-image: linear-gradient(
    111.1deg,
    rgba(69, 150, 164, 1) 2.5%,
    rgba(17, 20, 34, 1) 100.3%
  );
  box-shadow: 2px 2px 7px white;
  border: 2px solid aqua;
}
.navli {
  display: inline;
  padding: 10px;
}
.a {
  text-decoration: none;
  color: aliceblue;
}

.navdiv {
  text-align: center;
  margin: 10px, auto;
}
.h1 {
  border: 5px solid yellow;
  background-image: linear-gradient(
    111.1deg,
    rgba(69, 150, 164, 1) 2.5%,
    rgba(17, 20, 34, 1) 100.3%
  );
  border: 20px;
  border-radius: 20px;
  margin: 0px auto 25px;
  width: 650px;
  padding: 20px;
  text-align: center;
  color: aliceblue;
  box-shadow: 2px 2px 7px white;
  border: 2px solid aqua;
}

.aboutme {
  background-color: brown;
  border-radius: 20px;
  margin: 25px auto;
  width: 650px;
  padding: 15px;
  text-align: center;
  background-image: linear-gradient(
    111.1deg,
    rgba(69, 150, 164, 1) 2.5%,
    rgba(17, 20, 34, 1) 100.3%
  );
  box-shadow: 2px 2px 7px white;
  border: 2px solid aqua;
}

.skills {
  border-radius: 20px;
  margin: 25px auto;
  width: 650px;
  padding: 10px;
  text-align: center;
  background-image: linear-gradient(
    111.1deg,
    rgba(69, 150, 164, 1) 2.5%,
    rgba(17, 20, 34, 1) 100.3%
  );
  box-shadow: 2px 2px 7px white;
  border: 2px solid aqua;
}
.learning_goals {
  border-radius: 20px;
  margin: 25px auto;
  width: 650px;
  padding: 10px;
  text-align: center;
  background-image: linear-gradient(
    111.1deg,
    rgba(69, 150, 164, 1) 2.5%,
    rgba(17, 20, 34, 1) 100.3%
  );
  box-shadow: 2px 2px 7px white;
  border: 2px solid aqua;
}

.Tech {
  background-color: brown;
  border-radius: 20px;
  margin: 25px auto;
  width: 650px;
  padding: 10px;
  text-align: center;
  background-image: linear-gradient(
    111.1deg,
    rgba(69, 150, 164, 1) 2.5%,
    rgba(17, 20, 34, 1) 100.3%
  );
  box-shadow: 2px 2px 7px white;
  border: 2px solid aqua;
}

.projects {
  background-color: brown;
  border-radius: 20px;
  margin: 25px auto;
  width: 650px;
  padding: 10px;
  text-align: center;
  background-image: linear-gradient(
    111.1deg,
    rgba(69, 150, 164, 1) 2.5%,
    rgba(17, 20, 34, 1) 100.3%
  );
  box-shadow: 2px 2px 7px white;
  border: 2px solid aqua;
}

.contacts {
  background-color: brown;
  border-radius: 20px;
  margin: 25px auto;
  width: 650px;
  padding: 10px;
  text-align: center;
  background-image: linear-gradient(
    111.1deg,
    rgba(69, 150, 164, 1) 2.5%,
    rgba(17, 20, 34, 1) 100.3%
  );
  box-shadow: 2px 2px 7px white;
  border: 2px solid aqua;
}

.connect {
  background-color: brown;
  border-radius: 20px;
  margin: 25px auto;
  width: 650px;
  padding: 10px;
  text-align: center;
  background-image: linear-gradient(
    111.1deg,
    rgba(69, 150, 164, 1) 2.5%,
    rgba(17, 20, 34, 1) 100.3%
  );
  box-shadow: 2px 2px 7px white;
  border: 2px solid aqua;
}
.top {
  background-color: brown;
  border-radius: 20px;
  margin: 25px auto;
  width: 650px;
  padding: 10px;
  text-align: center;
  background-image: linear-gradient(
    111.1deg,
    rgba(69, 150, 164, 1) 2.5%,
    rgba(17, 20, 34, 1) 100.3%
  );
  box-shadow: 2px 2px 7px white;
  border: 2px solid aqua;
}
.git {
  background-color: brown;
  border-radius: 12px;
  margin: 25px auto;
  width: 650px;
  padding: 10px;
  text-align: center;
  background-image: linear-gradient(
    111.1deg,
    rgba(69, 150, 164, 1) 2.5%,
    rgba(17, 20, 34, 1) 100.3%
  );
  box-shadow: 2px 2px 7px white;
  border: 2px solid aqua;
}

.video {
  border: 1px solid aqua;
  box-shadow: 2px 2px 10px;
}
